@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* styles.css or inside a <style> tag */
.font-inter {
  font-family: "Space Grotesk", sans-serif;
}